body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.single-product {
  position: relative;
  border: 1px solid rgb(245, 232, 233);
  padding: 10px;
  min-height: 450PX;
  padding: 10px;
  transition: 0.4s;
}
.single-product:hover {
  box-shadow: 4px 4px 7px gray;
  border-radius: 10px;
  border: 1px solid cyan;
}
.product-image {
  width: 150px;
  height: 150px;
}
.cart {
  width: 350px;
  border: 1px solid white;
  background-color: white;
  padding: 10px;
  box-shadow: 1px 1px 5px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}
.card-btn{
  position: absolute;
  display: flex;
  justify-content: space-between;
  text-align: center;
  bottom: 45px;
  margin-left: 20px;
}
.btn-details{
  margin-left:125px ;
}
.cart-main {
  padding-right: 30px;
}
.icon{
  color: #f4ca25;
}

/* -----------------------------media query medium--------------------------------  */
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 0px 0px 10px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
 /* ---------------------------media query mobile-------------------------------  */
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
